/**
 * Slick slider styles
 *
 * @package    Modern
 * @copyright  2015 WebMan - Oliver Juhas
 *
 * @since    1.0
 * @version  1.4.5
 */



	/**
	 * Slider container
	 */

		.slick-slider {
			display: block;
			position: relative;
			-webkit-touch-callout: none;
			  -webkit-user-select: none;
			     -moz-user-select: none;
			      -ms-user-select: none;
			          user-select: none;
			     -ms-touch-action: pan-y;
			         touch-action: pan-y;
			-webkit-tap-highlight-color: transparent;
		}

			.slick-list,
			.slick-track,
			.slick-slide,
			.slick-slide img {
				-webkit-transform: translate3d(0, 0, 0);
				   -moz-transform: translate3d(0, 0, 0);
				    -ms-transform: translate3d(0, 0, 0);
				        transform: translate3d(0, 0, 0);
			}



		/**
		 * Slides wrapper container
		 */

			.slick-list {
				display: block;
				position: relative;
				padding: 0;
				margin: 0;
				overflow: hidden;
				-webkit-transition: all .4s ease-in-out;
				   -moz-transition: all .4s ease-in-out;
				    -ms-transition: all .4s ease-in-out;
				        transition: all .4s ease-in-out;
			}
			.slick-list:focus { outline: none; }
			.slick-list.dragging {
				cursor: pointer;
				cursor: hand;
				cursor: move;
				cursor: -webkit-grab;
				cursor: -o-grab;
				cursor: -ms-grab;
				cursor: grab;
			}



			/**
			 * Slides container
			 */

				.slick-track {
					position: relative;
					left: 0;
					top: 0;
					display: block;
					zoom: 1;
				}
				.slick-track:before,
				.slick-track:after {
					content: '';
					display: table;
				}
				.slick-track:after { clear: both; }
				.slick-loading .slick-track { visibility: hidden; }



				/**
				 * Slides
				 */

					.slick-slide {
						float: left;
						display: none;
						height: 100%;
						min-height: 1px;
						outline: 0;
					}
					.slick-slide img {
						display: block;
						pointer-events: none;
					}
					.slick-slide.slick-loading img { display: none; }
					.slick-slide.dragging img { pointer-events: none; }
					.slick-initialized .slick-slide { display: block; }
					.slick-loading .slick-slide { visibility: hidden; }
					.slick-vertical .slick-slide {
						display: block;
						height: auto;
						border-top: 1px solid transparent;
					}



		/**
		 * Navigation
		 */

			.slick-slider button .genericon { font-size: 1.62em; }

				.slick-prev.slick-disabled,
				.slick-next.slick-disabled { opacity: .25; }



	/**
	 * Theme modifications
	 */

		/**
		 * Banner slider
		 */

			.site-banner .slick-prev,
			.site-banner .slick-next {
				display: inline-block;
				position: absolute;
				width: 4.25em;
				height: 4.25em;
				left: 0;
				bottom: 10%;
				padding: 0;
				margin: 0;
				text-align: center;
				font-size: 1em;
				background-color: transparent;
				border: 1px solid;
				border-radius: 50%;
				opacity: .5;
				-webkit-transition: opacity .4s ease-in-out;
				   -moz-transition: opacity .4s ease-in-out;
				    -ms-transition: opacity .4s ease-in-out;
				        transition: opacity .4s ease-in-out;
			}
			.site-banner .slick-next { left: 5.25em; }

				.site-banner .slick-prev:hover,
				.site-banner .slick-next:hover,
				.site-banner .slick-dots .slick-active button { opacity: 1; }

				.site-banner .slick-prev .genericon,
				.site-banner .slick-next .genericon { vertical-align: middle; }

			.site-banner .slick-dots {
				position: absolute;
				right: 0;
				bottom: 10%;
				margin: 0;
				list-style: none;
			}
				.site-banner .slick-dots li {
					display: inline-block;
					margin-left: .62em;
				}
				.site-banner .slick-dots button {
					text-indent: -999em;
					width: .62em;
					height: .62em;
					padding: 0;
					background: transparent;
					border: 1px solid;
					border-radius: 50%;
					overflow: hidden;
					opacity: .5;
				}



		/**
		 * Gallery post format slider
		 */

			.format-gallery .slick-list {
				position: relative;
				height: 0 !important;
				padding: 0 0 56.25%; /* 16:9 ratio only */
			}

			.format-gallery .slick-prev,
			.format-gallery .slick-next {
				width: 47%;
				padding: .38em 0;
				margin: 2%;
				border: 0;
			}
				.format-gallery .slick-slider .slick-prev { margin-right: 1%; }
				.format-gallery .slick-slider .slick-next { margin-left: 1%; }



/* End of file */