
	/**
	 * 420px max
	 */

		@media only screen and (max-width: 420px) {

			.site { padding: 0; }

			/**
			 * Pagination
			 */

				.pagination { text-align: center; }

			/**
			 * Site header
			 */

				.site-header {
					padding-left: 4%;
					padding-right: 4%;
				}

			/**
			 * Site content
			 */

				.is-singular .site-content { padding: 6% 0 0; }
				.blog .site-content,
				.error404 .site-content,
				.is-posts-list .site-content {
					padding-left: 4%;
					padding-right: 4%;
				}
				.posts .entry-inner {
					padding-left: 8%;
					padding-right: 8%;
				}

				/* Page templates */

					.is-singular .content-area,
					.page-template-page-template_front-php .page {
						-webkit-box-shadow: none;
						        box-shadow: none;
					}
					.front-page-section {
						padding-left: 4%;
						padding-right: 4%;
					}

		} /* /(max-width: 420px) */
