
		/**
		 * Sticky site info only on desktops with screen height more then 700px
		 */
		@media only screen and (min-width: 960px) and (min-height: 720px) {

			.footer-area-site-info {
				position: fixed;
				width: 100%;
				max-width: 100%;
				left: 0;
				bottom: 0;
				padding: 1em 4%;
				border-top: 1px solid;
				z-index: 999;
				-webkit-backface-visibility: hidden; /* Fixes Webkit element jumping when JS slider used on page */
				-webkit-box-shadow: 0 0 1em rgba(0,0,0, .1);
				        box-shadow: 0 0 1em rgba(0,0,0, .1);
				-webkit-transition: bottom .2s ease-in-out;
				        transition: bottom .2s ease-in-out;
			}
				.footer-area-footer-widgets + .footer-area-site-info {
					padding-top: 1em;
					padding-bottom: 1em;
				}

			.scrolling-down .footer-area-site-info { bottom: -100px; }

		} /* /(min-width: 960px) and (min-height: 720px) */
