
	/**
	 * 961px min
	 */

		@media only screen and (min-width: 961px) {

			.scrolling-down .main-navigation { top: -100px; }

			.taxonomy-description { max-width: 62%; }

		} /* /(min-width: 961px) */



	/**
	 * 960px max
	 */

		@media only screen and (max-width: 960px) {

			.site-inner { padding-top: 0; }

			/**
			 * Site header
			 */

				/* Site branding */

					.site-description {
						padding-left: 1em;
						margin-left: 1em;
					}

				/* Navigation */

					.main-navigation {
						position: relative;
						padding-bottom: 5em;
						background: transparent;
						opacity: 1;
					}
					.admin-bar .main-navigation { top: auto; }

					.main-navigation-inner {
						display: none;
						position: relative;
						padding: 4.62em 4% 1em;
					}
					.active .main-navigation-inner { display: block; }

					/* Navigation menu */

						.main-navigation .menu { float: none; }

						.main-navigation li,
						.main-navigation li li,
						.main-navigation li li:first-child {
							float: none;
							display: block;
							margin: -1px 0 0;
							line-height: 1.62;
							white-space: normal;
							border-top: 1px solid;
							border-bottom: 1px solid;
						}

						.main-navigation li > a,
						.main-navigation li li > a {
							display: block;
							min-width: 0;
							padding: .62em;
							color: inherit;
						}
						.main-navigation li li > a { padding-left: 1.62em; }
						.main-navigation li li li > a { padding-left: 2.62em; }

						.main-navigation .expander { display: none; }

						/* Submenu */

							.main-navigation li .menu-item-has-children > a:after { display: none; }

							.main-navigation li ul,
							.main-navigation li li ul,
							.main-navigation li:hover > ul,
							.main-navigation li li:hover > ul {
								position: relative;
								visibility: visible;
								left: auto;
								top: auto;
								padding: 0;
								opacity: 1;
								border-radius: 0;
								-webkit-box-shadow: none;
								        box-shadow: none;
							}
							.main-navigation li ul { margin-bottom: -1px; }

					/* Navigation search form */

						.nav-search-form {
							float: none;
							position: absolute;
							width: 92%;
							height: 2.62em;
							left: 4%;
							top: 1em;
						}

						.search-toggle { display: none; }

						.nav-search-form .form-search,
						.nav-search-form.active .form-search,
						.no-js .nav-search-form:hover .form-search {
							position: relative;
							top: auto;
							right: auto;
						}

						.nav-search-form .search-field { font-size: 1em; }

					/* Mobile menu toggle */

						.menu-toggle {
							position: fixed;
							left: 50%;
							top: 0;
							margin-left: -1em;
						}
							.admin-bar .menu-toggle { top: 32px; }

							.active .menu-toggle,
							.admin-bar .active .menu-toggle {
								position: relative;
								left: auto;
								top: auto;
								margin: 0 auto;
							}

						.menu-toggle,
						.menu-toggle:hover,
						.menu-toggle:active,
						.menu-toggle:focus {
							display: block;
							width: 2em;
							height: 2em;
							padding: 0;
							line-height: 2em;
							text-indent: -999em;
							font-size: 1.62em;
							background: transparent;
							border: 0;
							opacity: 1;
						}
						.menu-toggle:before {
							content: '\f419';
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
							text-align: center;
							text-indent: 0;
						}
							.active .menu-toggle:before { content: '\f406'; }

				/* Site banner */

					.not-front-page .site-banner { display: none; }

					.site-banner h1 { font-size: 4.25em; }
					.site-banner.enable-slider h1 { padding-bottom: 1.62em; }

					.site-banner .slick-prev,
					.site-banner .slick-next {
						width: 2.62em;
						height: 2.62em;
					}
					.site-banner .slick-next { left: 3.62em; }

			/**
			 * Site content
			 */

				.is-singular .entry-inner,
				.error-404 form,
				.not-found form {
					width: 86%;
					max-width: 86%;
				}

				/* Posts list */

					.posts .hentry { width: 46%; }

				/* Comments */

					.comments-area {
						padding-left: 8%;
						padding-right: 8%;
					}

				/* Page templates */

					.page-template-page-template_sidebar-php .content-area {
						padding-left: 4%;
						padding-right: 4%;
					}
					.page-template-page-template_sidebar-php .entry-inner {
						width: 100%;
						max-width: 100%;
					}

						.page-template-page-template_sidebar-php .site-main > article {
							float: none;
							width: 100%;
						}

							.page-template-page-template_sidebar-php .site-main > .entry-media { margin: -8.7% -4.35% 8%; }

			/**
			 * Sidebar and widgets
			 */

				.toggle-mobile-sidebar {
					display: block;
					width: 100%;
					text-align: center;
				}

				/* Widgets */

					.sidebar .widget,
					.sidebar .toggle-mobile-sidebar + .widget {
						margin-top: 2.62em;
						display: none;
					}

			/**
			 * Site footer
			 */

				/* Footer widgets */

					.footer-widgets .widget { width: 46% !important; }
						.columns-1 .widget { width: 96% !important; }

		} /* /(max-width: 960px) */



	/**
	 * 680px max
	 */

		@media only screen and (max-width: 680px) {

			/**
			 * Site header
			 */

				/* Site branding */

					.site-branding {
						float: none;
						display: block;
						text-align: center;
					}

					.site-description {
						display: block;
						padding: 0;
						margin: 1em 0;
						border: 0;
					}

				/* Social links */

					.social-links,
					.site-header .social-links {
						float: none;
						clear: both;
						margin-top: 1em;
					}

					.site-header .social-links { text-align: center; }
						.site-header .social-links li {
							float: none;
							display: inline;
						}
						.site-header .social-links a { padding: 0 .19em; }

				/* Site banner */

					.site-banner {
						position: relative;
						margin-top: 8%;
						padding: 4% 8%;
					}

					.site-banner h1 { font-size: 2.62em; }
					.site-banner.enable-slider h1 { padding-bottom: 2.62em; }

			/**
			 * Site content
			 */

				/* Posts list */

					.posts .hentry {
						float: none;
						width: 96%;
						height: auto !important;
						margin-bottom: 8%;
					}

				/* Comments */

					.bypostauthor > .comment-body .comment-author:before {
						left: 15px;
						top: 45px;
					}

			/**
			 * Site footer
			 */

				/* Footer widgets */

					.footer-widgets .widget { width: 96% !important; }
						.columns-1 .widget { width: 96% !important; }

				/* Site info (credits area) */

					.site-info { float: none; }

		} /* /(max-width: 680px) */



	/**
	 * 420px max
	 */

		@media only screen and (max-width: 420px) {

			.site { padding: 0; }

			/**
			 * Pagination
			 */

				.pagination { text-align: center; }

			/**
			 * Site header
			 */

				.site-header {
					padding-left: 4%;
					padding-right: 4%;
				}

			/**
			 * Site content
			 */

				.is-singular .site-content { padding: 6% 0 0; }
				.blog .site-content,
				.error404 .site-content,
				.is-posts-list .site-content {
					padding-left: 4%;
					padding-right: 4%;
				}
				.posts .entry-inner {
					padding-left: 8%;
					padding-right: 8%;
				}

				/* Page templates */

					.is-singular .content-area,
					.page-template-page-template_front-php .page {
						-webkit-box-shadow: none;
						        box-shadow: none;
					}
					.front-page-section {
						padding-left: 4%;
						padding-right: 4%;
					}

		} /* /(max-width: 420px) */



	/**
	 * WordPress admin bar fix
	 */

		@media screen and ( max-width: 782px ) {

			html[class] { margin-top: 0 !important; }
			body.admin-bar { padding-top: 46px !important; }

		} /* /(max-width: 782px) */


		/**
		 * Sticky site info only on desktops with screen height more then 700px
		 */
		@media only screen and (min-width: 960px) and (min-height: 720px) {

			.footer-area-site-info {
				position: fixed;
				width: 100%;
				max-width: 100%;
				left: 0;
				bottom: 0;
				padding: 1em 4%;
				border-top: 1px solid;
				z-index: 999;
				-webkit-backface-visibility: hidden; /* Fixes Webkit element jumping when JS slider used on page */
				-webkit-box-shadow: 0 0 1em rgba(0,0,0, .1);
				        box-shadow: 0 0 1em rgba(0,0,0, .1);
				-webkit-transition: bottom .2s ease-in-out;
				        transition: bottom .2s ease-in-out;
			}
				.footer-area-footer-widgets + .footer-area-site-info {
					padding-top: 1em;
					padding-bottom: 1em;
				}

			.scrolling-down .footer-area-site-info { bottom: -100px; }

		} /* /(min-width: 960px) and (min-height: 720px) */
