
	/**
	 * Font sizes
	 */

		/**
		 * Relative font sizes:
		 */

			/* Relative to root */

				.site-title { font-size: 2.24rem; }

				.site-banner h1 { font-size: 6.62rem; }

			/* Relative to container */

				.main-navigation .menu,
				.nav-search-form,
				.posts .entry-meta,
				.footer-area-site-info { font-size: .9em; }

				.site-footer .social-links { font-size: 1.24em; }

				.post-navigation a { font-size: 1.38em; }

				.social-links { font-size: 1.62em; }

				.error-404 .page-title,
				.not-found .page-title,
				.nav-search-form .search-field { font-size: 2.24em; }
