
		/**
		 * Post formats
		 */

			/**
			 * Gallery
			 */

				.no-js .format-gallery a,
				.format-gallery .enable-slider:not(.slick-slider) a { display: none; }
				.no-js .format-gallery a:first-child,
				.format-gallery .enable-slider:not(.slick-slider) a:first-child { display: block; }



			/**
			 * Image, Link, Quote, Status
			 */

				.posts .format-image .entry-media:before,
				.format-link .entry-content a:before,
				.format-quote:before,
				.format-status .entry-content p:first-child:before { content: '\f102'; }

				.format-link .entry-content a:before,
				.format-status .entry-content p:first-child:before {
					margin-right: .19em;
					vertical-align: middle;
				}

				.posts .format-image .entry-media { position: relative; }
					.posts .format-image .entry-media:before {
						position: absolute;
						left: .38em;
						top: .38em;
						font-size: 1.62em;
						line-height: 1;
						color: #fff;
						vertical-align: top;
						z-index: 1;
					}
					.posts .format-image:hover .entry-media:before { display: none; }



			/**
			 * Link
			 */

				.format-link .entry-content a:before { content: '\f107'; }



			/**
			 * Quote, Status
			 */

				.posts .format-quote { padding-bottom: 6em; }

					.format-quote:before {
						content: '\f106';
						position: absolute;
						left: .62em;
						top: .62em;
						font-size: 5.86em;
						opacity: .33;
					}
						.posts .format-quote:before {
							left: 19%;
							top: auto;
							bottom: 0;
						}

					.format-quote a,
					.format-status a { color: inherit; }



			/**
			 * Status
			 */

					.format-status .entry-content p:first-child:before { content: '\f300'; }
