
		/**
		 * Posts list
		 */

			.posts { margin: 0 -2%; }

				.posts .hentry {
					float: left;
					position: relative;
					width: 29.333%;
					margin: 0 2% 4%;
					-webkit-box-shadow: 0 0 4em rgba(0,0,0, .4);
					        box-shadow: 0 0 4em rgba(0,0,0, .4);
				}

					.posts .entry-title {
						margin-bottom: 12%;
						text-transform: none;
					}

					.posts .entry-inner { padding: 12% 19%; }
					.posts .entry-media + .entry-inner { padding-top: 8%; }

			/* Page icon (in search posts list) */

				.posts .type-page .entry-title:before {
					content: '\f443';
					margin-right: .19em;
					opacity: .15;
					vertical-align: baseline;
				}

