/* FILE: main/custom-styles/__footer.scss */

//
// Site footer colors
//





.site-footer {
	@extend %site_footer_colors;

	#{$accent_color_elements} {
		text-shadow: none; //*
		/*[*/
		background-color: map_get( $colors, 'footer_headings' );
		color: map_get( $colors, 'footer_background' );
		/*]*/
		/*//
		background-color: [[color_footer_headings]];
		color: [[color_footer_background]];
		//*/
	}

	.button,
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		text-shadow: none; //*

		@include haf() {
			/*[*/
			background-color: map_get( $colors, 'footer_headings' );
			color: map_get( $colors, 'footer_background' );
			/*]*/
			/*//
			background-color: [[color_footer_headings]];
			color: [[color_footer_background]];
			//*/
		}

	}

	mark,
	.highlight {
		box-shadow: none; //*
	}

}
