/* FILE: main/custom-styles/__intro.scss */

//
// Site intro section colors
//





.intro-container {
	@extend %intro_colors;
	background-color: transparent;
}

.intro-media {
	@extend %intro_colors;

	&::after {
		// @see  Modern_Customize_Styles::get_css()
		background-image: linear-gradient( transparent, #1a1c1e );
	}

}

.slick-slider {

	.slick-arrow,
	.slick-dots button:hover,
	.slick-dots button:focus,
	.slick-active button {
		@extend %accent_colors;
	}

}
