/* FILE: main/menu/_menu-primary-top-level.scss */

//
// Top level primary menu items
//





.main-navigation-container {

	.menu > ul > li {

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			padding-top: $golden_minor +rem;
			padding-bottom: $golden_minor +rem;
			margin-#{$right}: $golden_major +rem; // {{RTL}}

			> a {
				border-width: 0;
			}

		}

	}

}
