/* FILE: main/menu/_menu-primary-mobile.scss */

.has-navigation-mobile .main-navigation-container {

	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {
		visibility: hidden;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		line-height: 1em + $golden_minor;
		overflow-y: auto;
		z-index: 995;
		opacity: 0;
		transform: scaleY(0);
		transform-origin: 50% 100%;
		transition:
			visibility 0s linear ( $small_animation_speed + s ),
			opacity ( $small_animation_speed + s ),
			transform ( $small_animation_speed + s );

		@include in( '^.toggled' ) {
			visibility: visible;
			opacity: 1;
			transform: scaleY(1);
			transition:
				visibility 0s linear 0s,
				opacity ( $small_animation_speed + s ),
				transform ( $small_animation_speed + s );
		}

		.menu {
			position: relative;

			> ul {
				max-width: map_get( $breakpoint, 's' ) / 16 + rem; // No need to stretch the menu, keep it narrow and centered
				padding: ( power( $golden, 3 ) + rem ) ( $golden + rem ) ( power( $golden, 3 ) + $golden + rem );
				margin-left: auto;
				margin-right: auto;

				> li:nth-last-child(2) {
					// The last child is actually `.menu-toggle-skip-link-container` (see below)
					border-bottom-width: 1px;
					border-bottom-style: solid;
				}

			}

		}

		.sub-menu {
			position: relative;
			width: 100%;
			min-width: 0;
			#{$left}: auto;
			top: auto;
			padding: 0;
			margin: 0;
			background: transparent;
			box-shadow: none;
			border-width: 0;
			border-radius: 0;

			.sub-menu {
				#{$left}: auto;
				top: auto;
				padding-#{$left}: 1em;
			}

		}

		li {
			flex-wrap: wrap;
			padding-top: .5rem;
			padding-bottom: .5rem;
			border-top-width: 1px;
			border-top-style: solid;
		}

		.megamenu > ul > .hide,
		.megamenu > ul > .hide-link {
			padding-top: 0;
			padding-bottom: 0;
			border-width: 0;

			.button-toggle-sub-menu {
				display: none;
			}

			> .sub-menu {
				display: block;
				margin-top: 0;
			}

		}

	}

	@include responsive( map_get( $breakpoint, 'm' ), 'max-width' ) {
		transform-origin: 50% 100%;

		.menu > ul {
			// Big top padding for easier accessing the first menu item with thumb finger on mobile devices
			padding-top: 38vh;
		}

		.menu-search + .menu > ul {
			padding-top: ( power( $golden, 3 ) + em );
		}

	}

}

body:not(.has-navigation-mobile) {
	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {

		.site-header-navigation {
			padding-top: $golden + rem;
			padding-bottom: $golden + rem;

			&::before {
				opacity: 1;
			}

		}

		.main-navigation-container {

			.menu {
				margin-top: 0;
			}

			li {
				display: inline-block;
				padding: 0;
				margin: 0;
				margin-#{$right}: $golden_minor + 1em; // {{RTL}}
			}

			a {
				// padding-left: 0;
				// padding-right: 0;
				border-#{$left}-width: 0; // {{RTL}}
				border-top-width: 2px;
			}

		}

	}
}

// Mobile menu toggle button

	.has-navigation-mobile .site-footer {
	// Make space in site container for the menu toggle button not to cover anything.

		@include media(
			( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ),
			( map_get( $breakpoint, 's' ), 'min-height' )
		) {
			padding-bottom: $mobile_menu_toggle_height + rem;
		}

	}

	.menu-toggle {

		// Small screens

			@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {
				position: fixed;
				width: auto;
				height: $mobile_menu_toggle_height + rem;
				left: 50%;
				bottom: -2px;
				padding: 0 ( $golden + em );
				margin: 0;
				line-height: 1 + $golden_minor;
				text-align: center;
				font-size: 1em;
				font-weight: 700;
				border: 2px solid;
				border-radius: 2px;
				z-index: 999;
				box-shadow: 0 0 2em rgba( #000, .4 );
				opacity: 1;
				transform: translateX( -50% );
			}

		// Small height

			@include media( ( map_get( $breakpoint, 's' ), 'max-height' ) ) {
				position: relative;
				width: 100%;
				left: auto;
				bottom: auto;
				margin: 0;
				border: 0;
				border-radius: 0;
				transform: none;
			}

		// Large screens

			@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
				display: none;
			}

		// Icon

			&::before {
				@extend %genericon;
				content: '\f419';
				margin-#{$right}: $golden_major + em; // {{RTL}}

				.toggled & {
					content: '\f406';
				}

			}

	}

// Accessibility helper: last accessible focusable element.
.menu-toggle-skip-link {
	font-size: 16px !important;
	font-weight: 400 !important;

	&:not(:focus) {
		@extend %screen_reader_hiding;
	}

	&-container {
		border-width: 0 !important;

		@include responsive( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			display: none !important;
		}

	}

}
