/* FILE: main/menu/_menu-primary-top-level.scss */

.menu-primary {

	// Top level menu items.
	> li {

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			padding-top: $golden_minor + rem;
			padding-bottom: $golden_minor + rem;
			margin-#{$right}: $golden_minor + 1rem; // {{RTL}}

			> a {
				padding-left: 0;
				padding-right: 0;
				border-width: 0;
				border-top-width: 2px;
			}

		}

	}

}
