/* FILE: main.scss */

//
// Main theme styles
//
// @package    Modern
// @copyright  WebMan Design, Oliver Juhas
//
// @since    2.0.0
// @version  2.1.0
//





// Imports

	@import 'setup';

	@import 'starter/starter';

	@import 'main/main';
