/* FILE: main/footer/__site-info.scss */

//
// Site info (credits)
//





.footer-area-site-info {
	padding: 4% 0;

	.footer-area-footer-widgets + & {
		padding-top: 0;
		padding-bottom: 8%;
	}

}



.site-info {

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

}
