/* FILE: main/footer/__site-info.scss */

//
// Site info (credits)
//





.footer-area-site-info {
	@extend %font_size_smaller;

	.footer-area-footer-widgets + & .site-info-inner {
		padding-top: 0;
	}

}



.site-info {

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 6rem 0;
	}

}
