/* FILE: main/footer/_footer.scss */

//
// Site footer and info
//
// For footer widgets see `sidebar` section.
//





// Footer

	.site-footer {
		@extend %box_shadow;
		position: relative;
		margin-top: $golden +em;
		z-index: 5;

		&-area {

			&-inner {
				@extend %content_width;
			}

		}

	}



// Imports

	@import '_site-info';
