/* FILE: main/content/__layout.scss */

//
// Site content layout
//





// Site content width holder

	.site-content {
		position: relative;
		padding-bottom: $golden + 6em;
		z-index: 5;



		&-inner {
			@extend %content_width;
			@extend .clearfix;
		}



		// Do not show the outline on the skip link target

			&[tabindex="-1"]:focus {
				outline: 0;
			}

	}



// Primary content container

	.content-area {

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			width: 68%;

			.has-widgets-sidebar & {
				float: $left; // {{RTL}}
			}

			.no-widgets-sidebar & {
				float: none;
				margin-left: auto;
				margin-right: auto;
			}

		}

		.error404 &,
		.no-widgets-sidebar & {
			width: 100%;
		}

	}
