/* FILE: main/content/__loop.scss */

//
// Posts list (loop) styles
//





$gutter : 2em;
$padding : power( $golden, 2 ) +em;

.posts {
	display: flex;
	flex-wrap: wrap;
	margin: -$gutter / 2;

	.entry {
		@extend %box_shadow;
		display: flex;
		flex-direction: column;
		position: relative;
		width: calc( 100% - #{ $gutter } );
		padding: $padding / 2; // Half the padding for mobiles.
		margin: $gutter / 2;

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			padding: $padding;
			width: calc( 50% - #{ $gutter } );
		}

		@include responsive( map_get( $breakpoint, 'l' ) ) {

			.no-widgets-sidebar & {
				width: calc( 33.33% - #{ $gutter } );
			}

		}

		&-media {
			flex: 0 1 auto;
			width: auto;
			margin: -$padding / 2;
			margin-bottom: $padding / 2;

			@include responsive( map_get( $breakpoint, 'm' ) ) {
				margin: -$padding;
				margin-bottom: $padding;
			}

		}

		&-header {
			margin-bottom: $golden +em;
		}

		&-content {

			p {
				margin-bottom: 1em;

				&:last-child {
					margin-bottom: 0;
				}

			}

			&-container {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;
				padding: 0;
			}

		}

		&-content,
		&-summary {

			&:not(:last-child) {
				margin-bottom: $golden +em;
			}

		}

		&-meta {
			@extend %font_size_smaller;
			margin-top: auto;
		}

	}

}



// Search results list

	.posts {

		.search-results form + & {
			margin-top: power( $golden, 2 ) +em;
		}

	}



// More link

	.link-more {

		.entry-summary + & {
			margin-top: 1em;
		}

	}



// Archive description

	.archive-description {
		max-width: 39em;
		max-width: 70ch;
		margin-bottom: power( $golden, 2 ) +em;
	}
