/* FILE: main/content/__media.scss */

//
// Media
//





// Entry media

	.entry-media {

		a {
			display: inline-block; // To wrap the focus outline around the image/entry media object.
			width: 100%;
		}

		.wp-playlist {
			// Keep the text in playlist left/right even if container text is centered.
			text-align: $left; // {{RTL}}
		}

		.search-results & img {
			width: auto;
			max-width: 100%;
		}



		// Hiding the post media

			.hide-media & {
				display: none;
			}

	}



// Attachment page

	.attachment {

		caption {
			caption-side: top;
		}

		&-download {
			padding: $golden +em;
			margin-bottom: $golden +em;
			border-width: 2px;
			border-style: dashed;

			&-label {
				@extend %font_weight_700;
			}

		}

	}
