/* FILE: main/content/__page.scss */

//
// Page styles
//





// Page content

	.page-header + .page-content {
		margin-top: $golden +em;
	}



// Special pages

	// Error 404 and "Not found" page

		.error-404,
		.not-found {

			form {
				display: inline-block;
				width: percentage( $golden_major );

				&::before {
					padding: ( $golden_minor +em ) 0;
					line-height: 1em + $golden_minor / 2;
				}

			}

		}

		.not-found {

			// There is a sidebar on this page

			form {
				width: 100%;
			}

		}

		.error404 {

			.page-content {
				margin-top: 1em;
			}

			form {

				@include responsive( map_get( $breakpoint, 'l' ) ) {
					max-width: percentage( $golden_major );
				}

				@include responsive( map_get( $breakpoint, 'xl' ) ) {
					max-width: percentage( $golden_minor );
				}

			}

		}



// Page templates

	// Front page

		.page-template-_front {

			&.is-singular .content-area {
				background: transparent;
			}

		}
