/* FILE: main/content/__post.scss */

//
// Post styles
//





.entry {

	&-content {

		&-container {
			@extend %padding_top;
			@extend %padding_bottom;
			max-width: calc( 39em + #{ $golden * 2em } );
			max-width: calc( 70ch + #{ $golden * 2em } );
			padding-left: $golden +em;
			padding-right: $golden +em;
			margin-left: auto;
			margin-right: auto;
		}

	}

	&-summary {

		&.has-more-tag {
			text-transform: uppercase;
		}

	}

}
